<div class="bg-cyan-200 w-full fixed backdrop-blur-sm bg-opacity-90 z-10 backdrop-filter shadow-xl">

        <div class="button-row">
          <a href="#MyProjects">
            <button
              class="hover:bg-gray-900 hover:text-cyan-50 duration-300 text-gray-800 font-medium py-2 px-4 rounded-l">Projects
            </button>
          </a>
          <a href="#About">
            <button
              class="hover:bg-gray-900 hover:text-cyan-50 duration-300 text-gray-800 font-medium py-2 px-4">About
            </button>
          </a>
          <a href="#Contacts">
            <button
              class="hover:bg-gray-900 hover:text-cyan-50 duration-300 text-gray-800 font-medium py-2 px-4 rounded-r">Contacts
            </button>
          </a>
        </div>
  </div>