<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<section class="bg-gray-200 py-2 pr-2">
    <div class="bg-white rounded-lg overflow-hidden shadow-xl">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="mr-2 text-cst-two" style="scale: 1.2;">attach_money</mat-icon>
                    <p class="text-xl font-bold text-black" style="font-family: Poppins">HARGA BASE OIL (USD/TON)</p>
                </ng-template>
                <div>
                    <apx-chart [colors]="chartOptions.colors" [series]="chartOptions.series"
                        [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                        [plotOptions]="chartOptions.plotOptions" [dataLabels]="chartOptions.dataLabels"
                        [grid]="chartOptions.grid"></apx-chart>
                </div>
            </mat-tab>
            <mat-tab>
                <div class="countryCondition-content mat-elevation-z4">
                    <ng-template mat-tab-label>
                        <mat-icon class="mr-2 text-cst-one" style="scale: 1.2;">place</mat-icon>
                        <p class="text-xl font-bold text-black" style="font-family: Poppins">KONDISI PER NEGARA</p>
                    </ng-template>
                    <div class="grid grid-cols-12 gap-2 p-2 overflow-y-auto max-h-[403px]">
                        @for (item of countryConditions; track item.country) {
                        <div class="col-span-12 overflow-scr">
                            <div class="grid grid-cols-12 gap-2 bg-blue-200 rounded-lg items-center">
                                <div class="flex items-center justify-start col-span-3">
                                    <div class="flex justify-center mx-2">
                                        @if (item.countryCode) {
                                        <img class="w-[30px] h-[20px] object-contain"
                                            [src]="'https://flagcdn.com/' + item.image.toLowerCase() + '.svg'"
                                            [alt]="item.country + ' flag'" />
                                        } @else {
                                        <span>No flag available</span>
                                        }
                                    </div>
                                    <h1 class="text-lg text-black font-semibold">{{item.country}}</h1>
                                </div>
                                <ul class="p-2 col-span-9 bg-cst-three rounded-r-lg">
                                    @for (conditionItem of item.condition; track conditionItem) {
                                    <li>
                                        <p class="text-justify font-normal text-sm text-white px-1 py-1">
                                            {{conditionItem}}</p>
                                    </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>