<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<section class="bg-cst-one ">
    <mat-tab-group dynamicHeight>
        <mat-tab>
            <ng-template mat-tab-label>
                <p class="text-xl font-medium text-cst-five" style="font-family: Poppins">Harga Base Oil (USD/Ton)</p>
            </ng-template>
            <div>
                <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                    [plotOptions]="chartOptions.plotOptions" [dataLabels]="chartOptions.dataLabels"
                    [stroke]="chartOptions.stroke"></apx-chart>
            </div>
        </mat-tab>
        <mat-tab>
            <div class="countryCondition-content mat-elevation-z4">
                <ng-template mat-tab-label>
                    <p class="text-xl font-medium text-cst-five" style="font-family: Poppins">Kondisi per Negara</p>
                </ng-template>
                <div class="grid grid-cols-5 gap-4 pt-5">
                    <div class="col-span-2">
                        <h1 class="text-center text-2xl">Negara</h1>
                    </div>
                    <div class="col-span-3">
                        <h1 class="text-center text-2xl">Kondisi</h1>
                    </div>
                    @for (item of countryConditions; track item.country) {
                    <div class="col-span-5">
                        <div class="grid grid-cols-5 gap-4 items-center">
                            <div class="flex justify-center">
                                @if (item.countryCode) {
                                <img class="w-[120px] h-[80px] object-contain"
                                    [src]="'https://flagcdn.com/' + item.image.toLowerCase() + '.svg'"
                                    [alt]="item.country + ' flag'" />
                                } @else {
                                <span>No flag available</span>
                                }
                            </div>

                            <h1 class="text-2xl">{{item.country}}</h1>
                            <ul class="p-5 col-span-3">
                                @for (conditionItem of item.condition; track conditionItem) {
                                <li>{{conditionItem}}</li>
                                }
                            </ul>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>