<section>
    <div class="flex py-2 gap-7">
        <div class="flex justify-end items-center ml-10">
            <mat-icon style="scale: 2; color: #F7BF71;">monetization_on</mat-icon>
        </div>
        <h1 class="text-4xl font-bold text-cst-five flex col-span-11">TREN HARGA</h1>
    </div>
    <div class="relative overflow-hidden w-full bg-cst-five">
        <div class="flex animate-scroll whitespace-nowrap">
            <p class="font-light text-2xl text-white py-5 px-10 flex">
                {{ description }}
            </p>
            <p class="font-light text-2xl text-white py-5 px-10 flex">
                {{ description }}
            </p>
        </div>
    </div>
</section>