<section class="py-5">
    <h1 class="text-2xl font-bold text-cst-one px-10">TREN HARGA</h1>
    <p class="font-normal text-cst-one px-10">
        Harga minyak mentah terus mengalami penurunan akibat janji Presiden AS untuk meningkatkan produksi minyak domestik dan 
        meningkatnya harapan akan berakhirnya perang Rusia-Ukraina. Kesepakatan damai dapat mengakhiri sanksi Barat terhadap 
        Rusia, yang memungkinkan lebih banyak minyak Rusia masuk ke pasar global. Selain itu, kebijakan tarif AS terhadap 
        berbagai negara, termasuk China dan Uni Eropa, juga dapat menambah tekanan pada harga minyak mentah.
    </p>
</section>
