<section class="bg-white rounded-lg shadow-xl mb-2">
    <div class="flex py-2">
        <div class="flex justify-end items-center px-4">
            <mat-icon style="scale: 1.2; color: #F7BF71;">monetization_on</mat-icon>
        </div>
        <h1 class="text-xl font-bold text-black flex col-span-11">TREN HARGA</h1>
    </div>
    <div class="relative overflow-hidden w-full rounded-b-lg bg-cst-one">
        <div class="flex animate-scroll whitespace-nowrap">
            <p class="font-light text-white py-2 px-4 flex">
                {{ description }}
            </p>
            <p class="font-light text-white py-2 px-4 flex">
                {{ description }}
            </p>
        </div>
    </div>
</section>