<section class="py-5">
    <h1 class="text-2xl font-bold text-cst-one px-10">Kesimpulan</h1>
    <p class="font-normal text-cst-one px-10">
        Keseimbangan pasokan dan permintaan base oil di Asia diperkirakan akan semakin ketat dalam beberapa bulan ke depan, dipicu 
        oleh penutupan refinery permanen, program pemeliharaan, dan ketidakpastian geopolitik. Harga cenderung stabil hingga 
        menguat, tetapi potensi pengetatan pasokan dapat memengaruhi dinamika harga di masa mendatang. Ekspansi kapasitas oleh 
        ExxonMobil dan produsen lain mungkin akan membantu meredakan tekanan pasokan dalam jangka panjang.
    </p>
</section>

