<!-- Aktivitas Pasar dan Permintaan -->
<section class="bg-gray-200">
    <div class="mx-2 my-2 pb-2 bg-white rounded-lg overflow-hidden shadow-xl">
        <div class="flex items-center px-4 py-2">
            <mat-icon class="mr-4 text-cst-two" style="scale: 1.2;">public</mat-icon>
            <h1 class="text-xl font-bold text-black">
                AKTIVITAS PASAR DAN PERMINTAAN
            </h1>
        </div>

        <div class="grid grid-cols-2 gap-2 mx-2">
            <div class="text-black bg-blue-200 rounded-lg overflow-hidden pb-4 transition delay-150 duration-300 ease-in-out 
                        hover:-translate-y-1 hover:scale-102 hover:bg-cst-three hover:shadow-xl hover:text-white">
                <div class="flex justify-center pt-4">
                    <mat-icon class="" style="scale: 1.5;">insert_chart_outlined</mat-icon>
                </div>
                <h1 class="text-xl font-medium text-center p-2">
                    Keseimbangan Pasokan dan Permintaan yang Ketat
                </h1>
                <p class="text-sm text-justify px-2">
                    Beberapa jenis base oil di Asia mengalami kenaikan harga akibat ketatnya pasokan dan permintaan.
                    Namun, kekhawatiran akan kekurangan produk tidak langsung memicu transaksi karena pembeli lebih
                    memilih untuk memantau kondisi dan menolak harga penawaran yang lebih tinggi, dengan memanfaatkan
                    stok yang
                    ada untuk memenuhi kebutuhan jangka pendek terlebih dahulu.
                </p>
            </div>
            <div class="text-black bg-blue-200 rounded-lg overflow-hidden pb-4 transition delay-150 duration-300 ease-in-out 
                        hover:-translate-y-1 hover:scale-102 hover:bg-cst-three hover:shadow-xl hover:text-white">
                <div class="flex justify-center pt-4">
                    <mat-icon style="scale: 1.5;">multiline_chart</mat-icon>
                </div>
                <h1 class="text-xl font-medium text-center p-2">
                    Ketidakpastian Ekonomi dan Geopolitik
                </h1>
                <p class="text-sm text-justify px-2">
                    Ketidakpastian ekonomi dan geopolitik terus menekan konsumsi base oil dan pelumas di kawasan Asia,
                    padahal
                    biasanya permintaan akan meningkat pada periode ini. Pasar kemudian juga masih memantau dengan
                    cermat pergerakan
                    harga minyak mentah, yang cenderung akan lebih rendah minggu ini dibandingkan awal bulan.

                </p>
            </div>
        </div>
    </div>
</section>