<!-- Aktivitas Pasar dan Permintaan -->
<section class="">
    <h1 class=" text-2xl font-normal text-cst-one px-10">
        Aktivitas Pasar dan Permintaan
    </h1>
    <div class=" grid grid-cols-2 gap-1 place-items-center">
        <div>
            <h1 class="text-cst-two text-xl text-center p-5">
                Keseimbangan Pasokan dan Permintaan yang Ketat
            </h1>
            <p class="text-lg px-5">
                Beberapa jenis base oil di Asia mengalami kenaikan harga akibat ketatnya pasokan dan permintaan. Namun, 
                kekhawatiran akan kekurangan produk tidak langsung memicu transaksi karena pembeli lebih memilih untuk memantau 
                kondisi dan menolak harga penawaran yang lebih tinggi, dengan memanfaatkan stok yang ada untuk memenuhi kebutuhan 
                jangka pendek terlebih dahulu.

            </p>
        </div>
        <div>
            <h1 class="text-cst-two text-xl text-center p-5">
                Ketidakpastian Ekonomi dan Geopolitik
            </h1>
            <p class="text-lg px-5">
                Ketidakpastian ekonomi dan geopolitik terus menekan konsumsi base oil dan pelumas di kawasan Asia, padahal 
                biasanya permintaan akan meningkat pada periode ini. Pasar kemudian juga masih memantau dengan cermat pergerakan 
                harga minyak mentah, yang cenderung akan lebih rendah minggu ini dibandingkan awal bulan.

            </p>
        </div>
    </div>
</section>


