<!-- Aktivitas Pasar dan Permintaan -->
<section class="bg-cst-one py-5">
    <div class="mx-40 my-10 pb-5 bg-white rounded-lg overflow-hidden shadow-xl">
        <div class="flex items-center p-5 mb-2">
            <mat-icon class="mx-5" style="scale: 2; color: #6B5CA5;">public</mat-icon>
            <h1 class="text-4xl font-bold text-cst-five">
                AKTIVITAS PASAR DAN PERMINTAAN
            </h1>
        </div>

        <div class="grid grid-cols-2 gap-10 mx-10 mb-5">
            <div class="bg-cst-four rounded-lg overflow-hidden pb-10 transition delay-150 duration-300 ease-in-out 
                        hover:-translate-y-1 hover:scale-110 hover:bg-cst-three hover:shadow-xl">
                <div class="flex justify-center pt-10">
                    <mat-icon style="scale: 3; color: white;">insert_chart_outlined</mat-icon>
                </div>
                <h1 class="text-3xl text-white font-normal text-center p-5">
                    Keseimbangan Pasokan dan Permintaan yang Ketat
                </h1>
                <p class="text-white text-justify px-10">
                    Beberapa jenis base oil di Asia mengalami kenaikan harga akibat ketatnya pasokan dan permintaan.
                    Namun, kekhawatiran akan kekurangan produk tidak langsung memicu transaksi karena pembeli lebih
                    memilih untuk memantau kondisi dan menolak harga penawaran yang lebih tinggi, dengan memanfaatkan
                    stok yang
                    ada untuk memenuhi kebutuhan jangka pendek terlebih dahulu.
                </p>
            </div>
            <div class="bg-cst-four rounded-lg overflow-hidden pb-10 transition delay-150 duration-300 ease-in-out 
                        hover:-translate-y-1 hover:scale-110 hover:bg-cst-three hover:shadow-xl">
                <div class="flex justify-center pt-10">
                    <mat-icon style="scale: 3; color: white;">multiline_chart</mat-icon>
                </div>
                <h1 class="text-3xl text-white font-normal text-center p-5">
                    Ketidakpastian Ekonomi dan Geopolitik
                </h1>
                <p class="text-white text-justify px-10">
                    Ketidakpastian ekonomi dan geopolitik terus menekan konsumsi base oil dan pelumas di kawasan Asia,
                    padahal
                    biasanya permintaan akan meningkat pada periode ini. Pasar kemudian juga masih memantau dengan
                    cermat pergerakan
                    harga minyak mentah, yang cenderung akan lebih rendah minggu ini dibandingkan awal bulan.

                </p>
            </div>
        </div>
    </div>
</section>